@import url('../../../../index.css');

/* PrimaryButton START */
.secondary-button {
  background: #111827;
  border: none;
  padding: 8px 16px;
  font-weight: normal;
  box-shadow: none;
  transition: all 200ms;
  border-radius: 0.75rem !important;
  color: white;
  min-width: 6rem;
}

.secondary-button:hover {
  opacity: 0.85;
}

.secondary-button .p-button-label {
  font-weight: normal;
}

.secondary-button.p-button.p-button-link {
  /* color: var(--color-emerald-500); */
  background-color: transparent;
  text-decoration: underline;
  font-weight: bold !important;
}

/* PrimaryButton END */